h1{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
}
p{
    text-align: center;
    font-size: 20px;
    color: grey;
    font-family: 'Courier New', Courier, monospace;
}
.box{
    margin-left: 70px;
    margin-top: 50px;
    font-family: 'Courier New', Courier, monospace;
    font-style: bold;
}
p.content{
    margin-left: 70px;
    font-size: 18px;
    color: rgb(70, 70, 70);
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    margin-right: 1005px;
}
h3.credit{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(145, 145, 145);
    margin-top: 50px;
    padding-left: 70px;
    font-size: 90%;;
}
h4.credit{
    text-align: left;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: rgb(145, 145, 145);
    margin-top: -15px;
    padding-left: 70px;
    font-size: 90%;
}
h2{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 1000px;
    margin-top: -270px;
}
h2.box{
    margin-left: 80px;
    margin-top: 70px;
    font-family: 'Courier New', Courier, monospace;
}
ul{
    text-align: left;
    font-family: 'Courier New', Courier, monospace;
    margin-left: 970px;
    margin-top: 10px;
    font-size: 20px;
    list-style: none;
    font-style: bold;
}

li strong{
    font-size: 18px;
    color: black;
}
img{
    margin-left: 650px;
    margin-top: -300px;
    border-radius: 50%;
    align-items: center;
}
.container{
    display: flex;
    justify-content: right;
    align-items: center;
    gap: 0px;
    margin-right: 306px;
    margin-top: -15px;
}

.container a{
    margin: 0;
    padding: 0;
}
.container img {
  margin: 0;
  padding: 0;
  display: block;
  border: none;
}
